* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins";
}

/* Intro */
.portfolio-intro {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 45px;

    text-align: center;
}

@media (min-width: 960px) {
    .portfolio-intro {
        max-width: none;
    }
}

.portfolio-title {
    margin: 0;
    margin-bottom: 10px;

    font-size: 38px;
    font-weight: bold;
}

.portfolio-description {
    margin: 0;

    font-size: 24px;
}

/* Parte de los proyectos */
.my-projects {
    max-width: 404px;
    margin: 0 auto;
    padding: 100px 20px 100px 20px;
}

@media (min-width: 960px) {
    .my-projects {
        max-width: none;
    }
}

.my-projects-results {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

@media (min-width: 960px) {
    .my-projects-results {
        flex-direction: row;
        justify-content: space-between;
    }
}

.project-item {
    display: flex;
    flex-direction: column;

    border: solid 2px;
    border-radius: 4px;
}

.project-img {
    width: 100%;
    object-fit: cover;
    object-position: left;
    height: 255px;
}

.project-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

.project-name {
    margin: 0;
    margin-bottom: 10px;

    font-size: 30px;
    font-weight: 500;
}

.project-description {
    margin: 0;
    margin-bottom: 10px;

    font-size: 18px;
}

.project-link {
    align-self: flex-end;

    font-size: 18px;
    font-weight: 700;
    color: #51aff3;
}
